.answer{
	color: #b18c00;
}
.gray{
	color: #bbb;
}
#comment .pagination li{
	display: inline-block;
}
#comment .pagination li a{
	background-color: #fff;
}
#comment .pagination > li.active > a{
	background-color: #f8c400;
}
#comment .modal-footer{
	text-align: left;
}
#comment .modal-footer textarea{
	border-radius: 0;
}
#comment .modal-footer .btn-default{
	margin-bottom: 10px;
}