/* case*/
.search-box{
    margin: 20px 0;
}
.search-box .col-lg-4 input[type="text"]{
    position: relative;
    border-radius: 0;
    background: #f8f8f8;
    border-color: #efefef;}
.search-box .col-lg-4 button{
    position: absolute;
    right: 0;
    top: 0px;
    border-radius: 0;
    padding: 6px 25px;
    outline: none;
    background-color: #f8c400;
    border-color: #f8c400;
}
.case .directory-info-row{
    text-align: right;
}
.case .social-links>li{
    color: #999;
}
.case .social-links>li:hover{
    color: #f8c400;
}
.case .social-links>li:hover a{
    background: #f8c400;
    color: #fff;
}

.case .select-list{
    margin-top:15px;
    border-bottom:1px dashed #cecece;
}
.case .select-list h5{
    min-width: 90px;
    padding: 0 30px;
    font-weight: 400;
    color: #999;
}
.case .select-list ul{
    flex: 1;
}
.case .select-list ul li{
    padding: 10px;
}
.case .select-list ul li a{
    text-decoration: none;
    padding: 3px 10px;
}
.case .select-list ul li a:hover,
.case .select-list ul li.active a{
    background-color: #f8c400;
    color: #fff;
}
.case .select-list.select-list-result ul li a{
    color: #999;
    font-size: 16px;
    font-weight: 400;
    padding:0 5px;
}
.case .select-list.select-list-result ul li a:hover{
    background-color: #f5f5f5;
    color: #333;
}
.case .select-list.select-list-result ul li span{
    padding: 3px 10px;
    background-color: #f5f5f5;
    color: #f8c400;
}
.case .form-control:focus, #focusedInput{
    border: 1px solid #cecece;
}
.case .select-list.select-list-result{
    border: none;
    margin-top: 25px;
    margin-bottom: 0;
}
